* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background: #010101;
	color: #fff;
}

#header {
	width: 100%;
	height: 100vh;
	background-image: url(images/1.jpg);
	background-size: cover;
	background-position: center;
}

.container {
	padding: 10px 10%;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.logo {
	width: 140px;
}

nav ul li {
	display: inline-block;
	list-style: none;
	margin: 10px 20px;

}

nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	position: relative;
}

nav ul li a::after {
	content: '';
	width: 0;
	height: 1px;
	background: #ff004f;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5ss;
}

nav ul li a:hover::after {
	width: 100%;
}

.header-text {
	margin-top: 20%;
	font-size: 30px;
}

.header-text h1 {
	font-size: 60px;
	margin-top: 20px;
}

.header-text span {
	color: #ff004f;
}

/* ------------about----------0 */


.main {
	position: relative;
	min-height: 80vh;
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #232427;
	border-radius: 8px;
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
		inset -5px -5px 15px rgba(255, 255, 255, 0.1),
		5px 5px 15px rgba(0, 0, 0, 0.3),
		-5px -5px 15px rgba(255, 255, 255, 0.1);
	margin: auto;
	margin-top: 100px;
}

.main button {
	padding: 10px 12px;
	margin: 0 10px;
}

.main #logo {
	position: absolute;
	top: 10px;
	left: 30px;
	font-size: 25px;
	color: #ccc;
}

.main #logo i {
	margin-right: 15px;
}

/* left & right part */
.left {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* song image */
.left img {
	height: 300px;
	width: 80%;
	border-radius: 15px;
	object-fit: cover;
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
		inset -5px -5px 15px rgba(255, 255, 255, 0.1),
		5px 5px 15px rgba(0, 0, 0, 0.3),
		-5px -5px 15px rgba(255, 255, 255, 0.1);
	padding: 5px;
}

/* both range slider part */
input[type="range"] {
	-webkit-appearance: none;
	width: 50%;
	outline: none;
	height: 10px;
	margin: 0 15px;
	overflow: hidden;
	border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 10px;
	width: 10px;
	/* background: #148F77; */
	background-color: var(--primary-color);
	cursor: pointer;
	box-shadow: -415px 0 0 400px #148F77;
}

.right input[type=range] {
	width: 40%;
}

/* volume part */
.left .volume {
	margin-top: 25px;
	width: 80%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	/*	border: 1px solid #fff;*/
}

.volume input[type="range"] {
	flex: 1;
}

.left .volume p {
	font-weight: bold;
	font-size: 15px;
}

.left .volume i {
	cursor: pointer;
	padding: 8px 12px;
	/* background: #148F77; */
	background-color: var(--primary-color);
}

.left .volume i:hover {
	background: rgba(245, 245, 245, 0.1);
}

.volume #volume_show {
	padding: 8px 12px;
	margin: 0 5px 0 0;
	background: rgba(245, 245, 245, 0.1);
}

/* right part */
.right {
	width: 50%;
	padding: 10px 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.right .middle {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.right .middle button {
	border: none;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	outline: none;
	transition: 0.5s;
	/* background: #232427; */
	background-color: var(--primary-color);
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
		inset -5px -5px 15px rgba(255, 255, 255, 0.1),
		5px 5px 15px rgba(0, 0, 0, 0.3),
		-5px -5px 10px rgba(255, 255, 255, 0.1);
}

.song_detail {
	position: relative;
	width: 80%;
	overflow: hidden;
	margin-bottom: 6.5em;
	/*	border: 1px solid #fff;*/
}

.song_detail #title {
	text-transform: capitalize;
	color: #fff;
	font-size: 35px;
}

.song_detail #artist {
	text-transform: capitalize;
	color: #fff;
	font-size: 18px;
	margin-top: 5px;
}

.right .duration {
	margin-top: 3em;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	/*	border: 1px solid #fff;*/
}

.duration input[type="range"] {
	flex: 1;
}

.right #auto {
	font-size: 15px;
	text-align: center;
	cursor: pointer;
	border: none;
	padding: 5px 7px;
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
	outline: none;
	border-radius: 10px;
	box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2),
		inset -2px -2px 5px rgba(255, 255, 255, 0.1),
		5px 5px 15px rgba(0, 0, 0, 0.3),
		-5px -5px 15px rgba(255, 255, 255, 0.1);
}

#play {
	background: #148F77;
}

.right button:hover {
	background: #148F77;
}

.right i:before {
	color: #fff;
	font-size: 20px;
}

.show_song_no {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 12px;
	color: #fff;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.2);
	box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2),
		inset -2px -2px 5px rgba(255, 255, 255, 0.1),
		5px 5px 15px rgba(0, 0, 0, 0.3),
		-5px -5px 15px rgba(255, 255, 255, 0.1);

}

.show_song_no p:nth-child(2) {
	margin: 0 5px;
}

/*responsive*/
@media(max-width: 700px) {
	.main {
		min-height: 100vh;
		width: 100%;
		flex-direction: column;
	}

	.right {
		margin-top: 50px;
		width: 60%;
	}

	.right .duration {
		width: 90%;
	}

	.left {
		margin-top: 5em;
		width: 60%;
	}

	.left img {
		min-width: 90%;
		height: 180px;
	}

	.main #logo {
		display: none;
	}

	.song_detail {
		position: absolute;
		top: 5px;
		left: 10px;
		width: 80%;
		height: 70px;
	}

	.song_detail #title {
		font-size: 1.8em;
	}
}

@media(max-width: 500px) {
	.main {
		min-height: 100vh;
		width: 100%;
		flex-direction: column;
	}

	.right {
		margin-top: 50px;
		width: 80%;
	}

	.left {
		margin-top: 5em;
		width: 80%;
	}

	.left img {
		min-width: 90%;
		height: 180px;
	}

	.main #logo {
		display: none;
	}

	.song_detail {
		position: absolute;
		top: 5px;
		left: 10px;
		width: 80%;
		height: 70px;
	}

	.song_detail #title {
		font-size: 1.5em;
	}

	.song_detail #artist {
		font-size: 0.8em;
	}

	.right .middle button {
		height: 62px;
		width: 62px;
	}
}








/* ---------services--------- */
#services {
	padding: 30px 0;
}

.services-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}

.pic1 {
	background-image: url(./images/22.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.pic3 {
	background-image: url(./images/23.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.services-list div {
	/* background: #262626; */
	padding: 40px;
	font-size: 13px;
	font-weight: 300;
	border-radius: 10px;
	transition: background 0.5s, transform 0.5s;
}

.services-list div i {
	font-size: 50px;
	margin-bottom: 30px;
}

.services-list div h2 {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 15px;
}

.services-list div a {
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	margin-top: 20px;
	display: inline-block;
}

.services-list div:hover {
	background: #ff004f;
	transform: translateY(-10px);
}

#portfolio {
	padding: 50px 0;
}

.work-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}

.work {
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

.work img {
	width: 100%;
	border-radius: 10px;
	display: block;
	transition: transform 0.5s;
}

.layer {
	width: 100;
	height: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	font-size: 14px;
	transition: height 0.5s;
}

.layer h3 {
	font-weight: 500;
	margin-bottom: 20px;
}

.layer a {
	margin-top: 20px;
	color: #ff004f;
	text-decoration: none;
	font-size: 18px;
	line-height: 60px;
	background: #fff;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
}

.work:hover img {
	transform: scale(1.1);
}

.work:hover .layer {
	height: 100%;
}

.btn {
	display: block;
	margin: 50px auto;
	width: fit-content;
	border: 1px solid #ff004f;
	padding: 10px 50px;
	border-radius: 6px;
	text-decoration: none;
	color: #fff;
	transition: background 0.5s;
}

.btn:hover {
	background: #ff004f;
}

/* -----------contact------------ */
.contact-left {
	flex-basis: 35%;
}

.contact-right {
	flex-basis: 60%;
}

.contact-left p {
	margin-top: 30px;
}

.contact-left p i {
	color: #ff004f;
	margin-right: 15px;
	font-size: 25px;
}

.social-icons {
	margin-top: 30px;
}

.social-icons a {
	text-decoration: none;
	font-size: 30px;
	margin-right: 15px;
	color: #ababab;
	display: inline-block;
	transition: transform 0.5s;
}

.social-icons a:hover {
	color: #ff004f;
	transform: translateY(-5px);
}

.btn.btn2 {
	display: inline-block;
	background: #ff004f;
}

.contact-right form {
	width: 100%;
}

form input,
form textarea {
	width: 100%;
	border: 0;
	outline: none;
	background: #262626;
	padding: 15px;
	margin: 15px 0;
	color: #fff;
	font-size: 18px;
	border-radius: 6px;
}

form .btn2 {
	padding: 14px 60px;
	font-size: 18px;
	margin-top: 20px;
	cursor: pointer;
}

.copyright {
	width: 100%;
	text-align: center;
	padding: 25px 0;
	background: #262626;
	font-weight: 300;
	margin-top: 20px;
}

.copyright i {
	color: #ff004f;
}


/* .bhushan {} */

.bg-dark {
	height: 60vh;
}

.footer_menu ul li {
	padding: 20px 35px;
	list-style: none;

}


.footer_menu ul li a {
	color: aliceblue;
	text-decoration: none;
}

.pad {
	margin: 25px;
}

.btn:hover {

	background-color: gray;
	text-decoration: underline;

}

/* .btn{
    width: auto;
    margin: auto;
} */

.container {
	border-radius: 8px;
}